/**
* Anax Flat theme.
*/
@import url(modules.less);



/** --------------------------------------------------------------
 *  Header
 */
 .site-header {
     height: 60px;
     background-color: #565656;
     color:white;
 }

.rm-max .rm-mobile{
    background-color: #565656;
}

.site-logo-text,
.navbar2,
.profile{
    float: left;
    width: 30%;
}
.site-logo-text{
    font-size: 2em;
    a {
        text-decoration: none;
        color: #565656;
    }
}

.site-logo-text-icon img{
    width: 40px;
    height: 40px;
    padding-left: 25px;
    padding-top: 5px;
}
// Navbar main
.rm-desktop li {
    //background-color: #eee;
}
// Navbar max
.rm-max .rm-small .rm-button {
    //font-size: 2em;
}
@maxButtonFontSize: 2em;

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    display: none;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

//Breadcrumb list
.breadcrumb-list ul {
    padding: 0;
}

.breadcrumb-list ul li{
    list-style-type: none;
}

//Sidebar list
.sidebar {
    width: 25%;
}
.toc {
    padding: 0;
}
.toc li{
    list-style-type: none;
}
/*

.article {
    width: 75%;
    float: right;
}
*/

a {
    text-decoration: none;
    color: #76323F;
}
.next-previous {
    width: 75%;
    float: right;
}
/** --------------------------------------------------------------
 *  Footer
 */

.footer {
    border-top: 1px solid black;
    margin-top: 10px;
    background-color: #565656;
    color: white;
}

.footer a{
    color: #b2b2b2;
    text-decoration: underline;
}

.footer a:hover{
    text-decoration: none;
}
/** --------------------------------------------------------------
 *  Byline
 */
.byline {
    border: 1px solid #999;
    width: 400px;
    overflow: auto;
     margin: 5px;
}

/** --------------------------------------------------------------
 *  Responsive design
 */
 .flash-wrap img {
     max-width: 100%;
 }
 @media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 750px) {
    .sidebar {
        display: none;
    }
    .next-previous{
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .footer-column {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .site-logo-text {
        width: 90%;
    }
   .navbar2 {
       display: none;
   }
}
@media screen and (max-width: 420px) {
    .golfImage {
        width: 100%;
        height: 100%;
    }
    .byline {
        width: 300px;
    }
}
@media screen and (max-width: 320px) {
    .byline {
        display: none;
    }
}
